<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QGroundControl</Name>
    <Version>1.0.0</Version>
    <Title>QGroundControl Installer</Title>
    <Publisher>Dronecode</Publisher>
    <ProductUrl>http://qgroundcontrol.com/</ProductUrl>
    <InstallerApplicationIcon>WindowsQGC</InstallerApplicationIcon>
    <InstallerWindowIcon>qgroundcontrol</InstallerWindowIcon>
    <Banner>installheader</Banner>
    <WizardStyle>Classic</WizardStyle>
    <StartMenuDir>QGC</StartMenuDir>
    <TargetDir>@HomeDir@/QGC</TargetDir>
    <AdminTargetDir>@RootDir@/QGC</AdminTargetDir>
    <MaintenanceToolName>QGC Updater Tool</MaintenanceToolName>
    <ControlScript>controller.qs</ControlScript>
</Installer>
