# CODEOWNERS - Auto-assign reviewers to pull requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
# * @mavlink/qgc-maintainers

# Documentation
# /docs/ @hamishwillee

# QML/UI
# *.qml @DonLakeFlyer

# Build system
# CMakeLists.txt @HTRamsey
# /cmake/ @HTRamsey
