#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QGroundControl
Version=1.0
Path=/opt/sees/apps/qgroundcontrol
Exec=/opt/sees/apps/qgroundcontrol/qgroundcontrol_start.py
Terminal=false
Type=Application
Categories=Utility
Comment=QGroundControl
Icon=/home/sees/.local/share/applications/QGroundControl.png
StartupWMClass=QGroundControl
