
environment:
  matrix:
#  - BUILD: 'Debug'
#    CONFIG: debug
  - BUILD: 'Release'
    CONFIG: installer

install:
  - git submodule update --init --recursive
  - call "%ProgramFiles(x86)%\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" x64
  - set PATH=C:\Qt\Tools\QtCreator\bin;C:\Qt\5.5\msvc2013_64\bin;%PATH%
  - mkdir %LOCALAPPDATA%\QtProject && copy test\qtlogging.ini %LOCALAPPDATA%\QtProject\
  - if "%CONFIG%" EQU "installer" ( cinst nsis -y -installArgs /D="%programfiles(x86)%\NSIS" )

build_script:
  - C:\Qt\5.5\msvc2013_64\bin\qmake -r CONFIG-=debug_and_release CONFIG+=%CONFIG% CONFIG+=WarningsAsErrorsOn qgroundcontrol.pro
  - jom

test_script:
  - if "%CONFIG%" EQU "debug" ( debug\qgroundcontrol --unittest )

after_build:
  - if "%CONFIG%" EQU "installer" ( appveyor PushArtifact C:\projects\qgroundcontrol\release\qgroundcontrol.exe )

deploy:
  - provider: S3
    name: qgroundcontrol-s3
    access_key_id:
      secure: IGAojLMqokL+76DbdulmWDA3MTsxEBBi3ReVVSqTy9c=
    secret_access_key:
      secure: RiYqaR+3T2PMNz2j5ur8LCA6H/Zfd4jTX33CZE5iBxm+zaz4QLs25p0B7prpaoNN
    bucket: qgroundcontrol
    set_public: true
    folder: $(APPVEYOR_REPO_BRANCH)
    artifcat: 'release\qgroundcontrol.exe'
    on:
      CONFIG: installer
  - provider: GitHub
    artifact: 'release\qgroundcontrol.exe'
    draft: false
    prerelease: false
    on:
      CONFIG: installer
      appveyor_repo_tag: true
