---
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    llvm-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    -google-readability-todo,
    -llvm-header-guard,
    -llvm-include-order,
    -misc-include-cleaner,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -misc-use-internal-linkage,
    -modernize-avoid-c-arrays,
    -modernize-use-trailing-return-type,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
    -readability-uppercase-literal-suffix
WarningsAsErrors: '*'
HeaderFilterRegex: '^((?!vendor).)*$'
...
