# QGroundControl EditorConfig
# https://editorconfig.org/

root = true

# Default settings for all files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

# C++ source files
[*.{cc,h,cpp,hpp,cxx}]
indent_style = space
indent_size = 4
max_line_length = 120

# CMake files
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4

# QML and JavaScript
[*.{qml,js}]
indent_style = space
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false  # Preserve trailing spaces for line breaks

# XML files (including Qt resource files)
[*.{xml,qrc,ui}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# Python scripts
[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

# Makefiles (require tabs)
[{Makefile,*.mk}]
indent_style = tab
