[submodule "qupgrade"]
	path = qupgrade
	url = https://github.com/LorenzMeier/qupgrade.git
[submodule "libs/mavlink/include/mavlink/v1.0"]
	path = libs/mavlink/include/mavlink/v1.0
	url = https://github.com/mavlink/c_library.git
