[submodule "src/GPS/Drivers"]
	path = src/GPS/Drivers
	url = https://github.com/PX4/GpsDrivers.git
[submodule "libs/mavlink/include/mavlink/v2.0"]
	path = libs/mavlink/include/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
[submodule "libs/OpenSSL/android_openssl"]
	path = libs/OpenSSL/android_openssl
	url = https://github.com/Auterion/android_openssl
[submodule "libs/gst-plugins-good"]
	path = libs/gst-plugins-good
	url = https://github.com/mavlink/gst-plugins-good.git
