IDI_ICON1               ICON    DISCARDABLE     "resources/icons/qgroundcontrol.ico"

1 VERSIONINFO
FILEVERSION    	2,0,0,227
PRODUCTVERSION 	2,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "qgroundcontrol.org"
            VALUE "FileDescription",  "Open source ground control app provided by QGroundControl dev team"
            VALUE "FileVersion",      "2.0.0.227"
            VALUE "LegalCopyright",   "Copyright (C) 2013 QGroundControl Development Team. All rights reserved."
            VALUE "ProductName",      "qgroundcontrol"
            VALUE "ProductVersion",   "2.0"
            VALUE "InternalName",     "qgroundcontrol"
            VALUE "OriginalFilename", "qgroundcontrol.exe"
        END
    END
END
