name: Docker Build
description: Build QGC using Docker

inputs:
  dockerfile:
    description: Dockerfile to use
    required: false
    default: 'Dockerfile-build-ubuntu'
  build-type:
    description: CMake build type (Release or Debug)
    required: false
    default: 'Release'
  fuse:
    description: Enable FUSE support (required for AppImage builds)
    required: false
    default: 'false'
  docker-username:
    description: Docker Hub username
    required: false
    default: 'mavlink'
  docker-token:
    description: Docker Hub token
    required: false
    default: ''

runs:
  using: composite
  steps:
    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      if: inputs.docker-token != ''
      uses: docker/login-action@v3
      with:
        username: ${{ inputs.docker-username }}
        password: ${{ inputs.docker-token }}

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./deploy/docker/${{ inputs.dockerfile }}
        tags: qgc-builder:latest
        load: true
        cache-from: type=gha,scope=${{ inputs.dockerfile }}
        cache-to: type=gha,mode=max,scope=${{ inputs.dockerfile }}

    - name: Run Docker build
      shell: bash
      env:
        SOURCE_DIR: ${{ github.workspace }}
        BUILD_DIR: ${{ github.workspace }}/build
      run: |
        chmod +x ./deploy/docker/docker-run.sh
        FUSE_FLAG=${{ inputs.fuse == 'true' && '--fuse' || '' }}
        ./deploy/docker/docker-run.sh $FUSE_FLAG qgc-builder:latest ${{ inputs.build-type }}
