* {
    background-color: #222;
    color: #FFF;
    background-clip: border;
    font-size: 11px;
}

*::disabled {
    color: #777;
}

QCheckBox {
    color: #DDD;
}

QCheckBox::indicator {
    border: 1px solid #777;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

QCheckBox::indicator:hover {
    background-color: #CCC;
}

QCheckBox::indicator:pressed, QCheckBox::indicator:checked:pressed {
    background-color: #777;
}

QCheckBox::indicator:checked {
    background-color: #379AC3;
}

QComboBox {
    border: 1px solid #777;
    border-radius: 2px;
}

QDialog {
    border: 1px solid #62676B;
    border-radius: 2px;
}

QDockWidget {
    border: 10px solid #666;
    border-radius: 1px;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: none;
    padding: 0;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: none;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: none;
}

QDockWidget::title {
    text-align: left;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3F556A, stop: 1 #293645);
    color: #EDEDED;
    padding-left: 3px;
    height: 14px;
}

QGCToolWidgetItem {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 10px 0 0 0;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 10px 0 0 0;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    margin: 0 3px 0 3px;
    padding: 0 3px 0 0;
    font: bold 8px;
    color: #DDD;
}

QLabel {
    background-color: transparent;
}

QLabel:disabled {
    color: #353535;
}

QLabel#toolBarNameLabel {
    font: bold 16px;
    color: #3C7B9E;
}

QLabel#toolBarModeLabel {
    font: 12px;
}

QLabel#toolBarStateLabel {
    font: 12px;
    color: #3C7B9E;
}

QLabel#toolBarMessageLabel {
    font: 12px;
    font-style: italic;
    color: #3C7B9E;
}

QLineEdit {
    border: 1px solid #777;
    border-radius: 2px;
}

QMainWindow::separator {
   background-color: #323235;
   width: 2px; /* when vertical */
   height: 2px; /* when horizontal */
}

QMainWindow::separator:hover {
    background-color: #FFF;
}

QMenu {
    border: 1px solid #379AC3;
}

QMenu::item:selected {
    background-color: #666;
}

QMenu::separator {
    height: 1px;
    background: #379AC3;
    margin: 8px 5px 4px 5px;
}

QMenuBar::item:selected {
    background-color: #666;
}

QMenuBar::item:disabled {
    border: none;
    background: none;
}

QPlainTextEdit {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: "Monospace";
    font: large;
}

QProgressBar {
    border: 1px solid #4A4A4A;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
    color: #DDD;
    background-color: #111;
    height: 10px;
}

QProgressBar::chunk {
    background-color: #3C7B9E;
}

QProgressBar::chunk#batteryBar {
    background-color: green;
}

QProgressBar::chunk#speedBar {
    background-color: yellow;
}

QProgressBar::chunk#thrustBar {
    background-color: orange;
}

QProgressBar:horizontal {
    height: 9px;
}

QProgressBar:vertical {
    width: 9px;
}

QPushButton, QToolButton {
    min-height: 20px;
    max-height: 20px;
    border: 1px solid #465158;
    margin: 1px;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}

QToolButton {
    padding-left: 3px;
    padding-right: 3px;
}

QPushButton#controlButton {
    min-height: 25px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}

QPushButton#killButton {
    font-weight: bold;
    min-height: 30px;
    color: #000;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffb917, stop:1 #b37300);
    background-clip: border;
    border: 1px solid #555;
    border-radius: 5px;
}

QPushButton:checked, QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #09A2B2, stop: 1 #414B52);
}

QPushButton:checked#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}

QPushButton:disabled, QToolButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
}

QPushButton:hover, QToolButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #777, stop: 1 #333);
}

QPushButton:pressed, QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QPushButton:pressed#killButton {
    font-weight: bold;
    min-height: 30px;
    color: #000;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bb8500, stop:1 #903000);
    background-clip: border;
    border: 1px solid #555;
    border-radius: 5px;
}

QSeparator {
    color: #EEE;
}

QSlider {
    background-color: transparent;
}

QSlider::groove:horizontal {
    border: 1px solid #999;
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #4A4A4A;
    margin: 2px 0;
}

QSlider::groove:horizontal:disabled {
    border: 1px solid #454545;
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    margin: 2px 0;
}
 
QSlider::groove:vertical {
    border: 1px solid #999;
    width: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #4A4A4A;
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
    border: 2px solid #379AC3;
    width: 18px;
    margin: -5px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::handle:horizontal:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #535258, stop: 1 #050508);
    border: 2px solid #444;
    width: 18px;
    margin: -5px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::handle:vertical {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #232228, stop: 1 #020208);
    border: 2px solid #379AC3;
    height: 18px;
    margin: 0 -5px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSizeGrip {
    background: none;
}

QSpinBox, QDoubleSpinBox {
    min-height: 14px;
    max-height: 18px;
    border: 1px solid #777;
    border-radius: 5px;
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
    image: url(:/files/images/actions/go-down.svg);
    width: 16px;
}

QSpinBox::down-button, QDoubleSpinBox::down-button {
    border: none;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
    image: url(:/files/images/actions/go-up.svg);
    width: 16px;
}

QSpinBox::up-button, QDoubleSpinBox::up-button {
    border: none;
}

QStatusBar {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4B4B4B, stop:0.3 #404040, stop:0.34 #383838, stop:1 #181818);
}

QTabBar::tab {
    border: 2px solid #62676B;
    border-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:hover {
    border: 2px solid #379AC3;
}

QTabBar::tab:selected {
    border: 2px solid #379AC3;
    background: #555;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    border: 1px solid #62676B;
    border-radius: 2px;
    position: absolute;
    top: -0.5em;
}

QTextEdit {
    border: 1px solid #777;
    border-radius: 2px;
}

QToolBar {
    border-top-color: #969696;
    border-bottom-color: #484848;
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4B4B4B, stop:0.3 #404040, stop:0.34 #383838, stop:1 #181818);
}

QToolTip {
    background-color: #3D5368;
    border:0 solid #379AC3;
    margin: 3px;
    border-radius: 3px;
    color: #DDD;
}

WaypointEditableView {
    border: 1px solid #777;
    border-radius: 5px;
    margin-bottom: 3px;
}

WaypointEditableView QCheckBox, WaypointEditableView .QWidget {
    background: none;
}
