* {
    background-color: #F6F6F6;
    color: #000;
    background-clip: border;
    font-size: 11px;
}

*::disabled {
    color: #AAA;
}

JoystickButton QLabel {
    border: 1px solid #777;
    border-radius: 4px;
    height: 16px;
    padding: 0 3px;
}

QCheckBox {
    color: #222;
}

QCheckBox::indicator {
    border: 1px solid #111;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

QCheckBox::indicator:hover {
    background-color: #CCC;
}

QCheckBox::indicator:pressed, QCheckBox::indicator:checked:pressed {
    background-color: #777;
}

QCheckBox::indicator:checked {
    background-color: #379AC3;
}

QCheckBox::indicator:disabled {
    border-color: #555;
}

QCheckBox::indicator:disabled:checked {
    background-color: #AAA;
}

QComboBox {
    border: 1px solid #777;
    border-radius: 2px;
}

QDialog {
    border: 1px solid #777;
    border-radius: 2px;
}

QDockWidget {
    border: 1px solid #666;
    border-radius: 1px;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background: none;
    padding: 0;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: #777;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: #555;
}

QDockWidget::title {
    text-align: left;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CCC, stop: 1 #888);
    color: #000;
    padding-left: 3px;
    height: 14px;
}

QGCMAVLinkLogPlayer {
    background: none;
}

QGCMAVLinkLogPlayer QLabel {
    color: #FFF;
}

QGCMAVLinkLogPlayer QLabel:disabled {
    color: #666;
}

QGCToolBar {
    border-top-color: #969696;
    border-bottom-color: #484848;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #DDD, stop: 1 #999);
    padding: 0;
    margin: 0;
}

QGCToolBar QLabel {
    font-size: 12pt;
    font-weight: bold;
    margin: 4px 2px;
    padding: 0 2px;
    border-radius: 4px;
}

QGCToolBar QLabel#toolBarBatteryBar {
    color: #008000;
}

QGCToolBar QLabel#toolBarTimeoutLabel {
    color: #FFFFFF;
    background-color: #FF0037;
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarSafetyLabel {
    /* color is for this label defined within the code */
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarModeLabel {
    color: #475E66;
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarStateLabel {
    color: #80632A;
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarBatteryVoltageLabel {
    color: #008000;
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarWpLabel {
    color: #475E66;
    font-size: 15pt;
}

QGCToolBar QLabel#toolBarMessageLabel {
    color: #475E66;
}

QGCToolBar QProgressBar {
    margin: 4px 2px;
}

QGCToolBar QToolButton {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    height: 24px;
    margin-bottom: 4px;
    text-align: left;
    font-weight: bold;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #333, stop: 1 #444);
    color: #FFF;
}

QGCToolBar QToolButton:checked, QGCToolBar QToolButton:pressed, QGCToolBar QToolButton:checked:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #777, stop: 1 #999);
    color: #FFF;
}

QGCToolBar QToolButton:hover {
    color: #000;
}

QGCToolBar QToolButton#advancedButton {
    margin-left: 0;
    margin-right: 13px;
    padding: 0 12px 0 4px;
    padding-right: 8px;
    border-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-left: none;
}

QGCToolBar QToolButton#firstAction {
    margin-left: 8px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

QGCToolBar .QWidget {
    margin: 0;
    background-color: transparent;
}

QGCToolWidgetItem {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 10px 0 0 0;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGCUnconnectedInfoWidget QPushButton {
    border-radius: 18px;
}

QGroupBox {
    border: 1px solid #666;
    border-radius: 3px;
    padding: 10px 0 0 0;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    margin: 0 3px 0 3px;
    padding: 0 3px 0 0;
    font: bold 8px;
    color: #000;
}

QHeaderView::section {
    border: none;
	border-right: 1px solid #969696;
	padding: 2px 0 2px 4px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #DDD, stop: 1 #999);
}

QLabel {
    background-color: transparent;
}

QLabel:disabled {
    color: #999;
    border-color: #999;
}

QLabel#noUas {
    font-size: 30pt;
}

QLineEdit {
    border: 1px solid #111;
    border-radius: 2px;
}

QMainWindow::separator {
    background-color: #CCC;
    width: 2px; /* when vertical */
    height: 2px; /* when horizontal */
}

QMainWindow::separator:hover {
    background-color: #222;
}

QMenu {
    border: 1px solid #379AC3;
}

QMenu::item:selected, QMenu::item:checked:selected {
    background-color: #555;
    color: #FFF;
}

QMenu::item:checked {
    background-color: #379AC3;
    color: #FFF;
}

QMenu::separator {
    height: 1px;
    background: #379AC3;
    margin: 8px 5px 4px 5px;
}

/*
 * Fix for bug in Qt5 where QMenuBar items are styled natively on Windows, ignoring inherited settings.
 * so we explicitly set their background color here (should match catch-all style background color).
 */
QMenuBar::item {
    background-color: #F6F6F6;
}

QMenuBar::item:selected {
    background-color: #555;
    color: #FFF;
}

QMenuBar::item:disabled {
    border: none;
    background: none;
}

QPlainTextEdit {
    border: 1px solid #111;
    border-radius: 2px;
    font-family: "Monospace";
    font: large;
}

QProgressBar {
    border: 1px solid #666;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
    color: #000;
    background: none;
    height: 10px;
}

QProgressBar::chunk {
    background-color: #666;
}

QProgressBar::chunk#batteryBar {
    background-color: green;
}

QProgressBar::chunk#speedBar {
    background-color: yellow;
}

QProgressBar::chunk#thrustBar {
    background-color: orange;
}

QProgressBar:horizontal {
    height: 9px;
}

QProgressBar:vertical {
    width: 9px;
}

QPushButton, QToolButton {
    min-height: 20px;
    max-height: 20px;
    border: 1px solid #465158;
    margin: 1px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
}

QPushButton#connectButton, QPushButton#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #73D95D, stop: 1 #18A154);
}

QPushButton#controlButton {
    min-height: 25px;
}

QPushButton#deleteButton, QPushButton#killButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #D9002F, stop: 1 #AC0025);
}

QPushButton:checked, QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #444, stop: 1 #888);
    color: #FFF;
}

QPushButton:checked#connectButton, QPushButton:checked#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E38000, stop: 1 #945F00);
    color: #000;
}

QPushButton:checked:hover#connectButton, QPushButton:checked:hover#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FF9000, stop: 1 #B37300);
}

QPushButton:checked:pressed#connectButton, QPushButton:checked:pressed#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #DB7C00, stop: 1 #825400);
}

QPushButton:disabled, QToolButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEE, stop: 1 #CCC);
    color: #AAA;
}

QPushButton:hover, QToolButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #B8D3E6, stop: 1 #899FAD);
}

QPushButton:hover#connectButton, QPushButton:hover#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #87FF6D, stop: 1 #1FD16D);
}

QPushButton:hover#deleteButton, QPushButton#killButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #F20034, stop: 1 #9E0022);
}

QPushButton:pressed, QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAA, stop: 1 #666);
}

QPushButton:pressed#connectButton, QPushButton:pressed#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #62B84E, stop: 1 #148A47);
}

QPushButton:pressed#deleteButton, QPushButton#killButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C9002C, stop: 1 #9C0021);
}

QScrollBar {
    border: 1px solid #333;
}

QSeparator {
    color: #000;
}

QSlider {
    background-color: transparent;
}

QSlider::groove:horizontal {
    border: 1px solid #999;
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #4A4A4A;
    margin: 2px 0;
}

QSlider::groove:horizontal:disabled {
    border: 1px solid #999;
    background-color: #CCC;
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    margin: 2px 0;
}

QSlider::groove:vertical {
    border: 1px solid #999;
    width: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #4A4A4A;
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
    border: 2px solid #379AC3;
    width: 18px;
    margin: -5px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::handle:horizontal:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEE, stop: 1 #CCC);
    border: 2px solid #777;
    width: 18px;
    margin: -5px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::handle:vertical {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #232228, stop: 1 #020208);
    border: 2px solid #379AC3;
    height: 18px;
    margin: 0 -5px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSizeGrip {
    background: none;
}

QSpinBox, QDoubleSpinBox {
    min-height: 14px;
    max-height: 18px;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
    image: url(:/files/images/actions/go-down.svg);
    width: 16px;
}

QSpinBox::down-button, QDoubleSpinBox::down-button {
    border: none;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
    image: url(:/files/images/actions/go-up.svg);
    width: 16px;
}

QSpinBox::up-button, QDoubleSpinBox::up-button {
    border: none;
}

QStatusBar {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #DDD, stop: 1 #999);
}

QTabBar::tab {
    border: 2px solid #777;
    border-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:hover {
    border: 2px solid #379AC3;
}

QTabBar::tab:selected {
    border: 2px solid #379AC3;
    background: #CCC;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    border: 1px solid #777;
    border-radius: 2px;
    position: absolute;
    top: -0.5em;
}

QTextEdit {
    border: 1px solid #222;
    border-radius: 2px;
}

QToolButton {
    padding-left: 3px;
    padding-right: 3px;
}

QToolTip {
    background-color: #F6F6F6;
    border:0 solid #379AC3;
    margin: 3px;
    border-radius: 3px;
    color: #000;
}

QTreeView::item {
	color: #000;
}

UASQuickViewItem QLabel {
    padding: 0;
    margin: 0;
    min-height: 1em;
    font-weight: bold;
}

UASQuickViewItem QLabel#value {
    font-size: 20pt;
}

UASView {
    background: #D0D0D0;
    border: 1px solid #666;
    border-radius: 12px;
}

UASView QLabel#heartBeatLabel, UASView QLabel#typeLabel {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px;
}

QGCUnconnectedInfoWidget QPushButton#connectButton {
    min-height: 150px;
    max-height: 275px;
    margin: 15px;
    padding: 20px;
}

WaypointEditableView, WaypointViewOnlyView {
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 3px;
}

WaypointEditableView[RowColoring="odd"], WaypointViewOnlyView[RowColoring="odd"] {
    background-color: #999;
}

WaypointEditableView[RowColoring="even"], WaypointViewOnlyView[RowColoring="even"] {
    background-color: #CCC;
}

WaypointEditableView QCheckBox, WaypointEditableView .QWidget, WaypointViewOnlyView QCheckBox, WaypointViewOnlyView .QWidget {
    background: none;
}
