/* These general styles need to go first so that following definitions override them */
* {
    background-color: #F6F6F6;
    color: #000;
}

*::disabled {
    color: #777;
}

QCheckBox {
    color: #222;
}

QCheckBox::indicator {
    background-color: #F6F6F6;
    border-color: #111;
    color: #222;
}

QCheckBox::indicator:checked {
    background-color: #777;
}

QComboBox {
    border-color: #111;
}

QDockWidget {
    border: 1px solid #32345E;
}

QDockWidget::title {
    background: #EEE;
    color: #111;
    border-bottom: 1px solid #222;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    background-color: #EEE;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background-color: #AAA;
}

QGroupBox {
    border-color: #222216;
}

QLabel {
    background-color: transparent;
}

QLineEdit {
    border-color: #111;
}

QGroupBox::title {
    color: #000;
}
 
QMainWindow::separator {
    background-color: #090909;
}

QMainWindow::separator:hover {
    background-color: #222;
}

QMenuBar::item:selected {
    background-color: #CCC;
}

QMenuBar::item:disabled {
    border: none;
    background: none;
}

QMenuBar::item:disabled:selected {
    border: none;
    background: none;
}

QMenuBar::item:disabled:pressed {
    background: none;
    border: none;
}

QMenu::item:selected {
    background-color: #CCC;
}

QPlainTextEdit {
    border-color: #111;
}

QProgressBar {
    border-color: #666;
}

QProgressBar::chunk {
    background-color: #666;
}

QProgressBar::chunk#speedBar {
    background-color: yellow;
}

QProgressBar::chunk#thrustBar {
    background-color: orange;
}

QProgressBar QLabel {
    background-color: #FFF;
}

QPushButton {
    border-style: solid;
    border-color: #444;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CCC, stop: 1 #888);
}

QPushButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #444, stop: 1 #888);
}

QPushButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAA, stop: 1 #666);
}

QPushButton#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}

QPushButton:checked#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}

QSeparator {
    color: #EEE;
}

QSpinBox {
    border-color: #4A4A4F;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
	image: url(:/files/images/actions/go-up.svg);
	width: 16px;
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
	image: url(:/files/images/actions/go-down.svg);
	width: 16px;
}

QStatusBar {
    border-bottom-color: #111;
    border-top-color: #EEE;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CCC, stop: 1 #888);
}

QTabBar::tab {
    border-color: #62676B;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CCC, stop: 1 #888);
}

QTabBar::tab:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
}

QTabBar::tab:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAA, stop: 1 #666);
}

QTabBar::tab:selected {
    border-color: #379AC3;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #AAA, stop: 1 #666);
}

QTabWidget::pane { /* The tab widget frame */
    border-color: #62676B;
}

QTextEdit {
    border-color: #222;
}

QToolBar {
    border-top-color: #969696;
    border-bottom-color: #484848;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #090909, stop:0.3 #404040, stop:0.34 #383838, stop:1 #F6F6F6);
}

QToolButton {
    border-color: #4A4A4F;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C3C2C8, stop: 1 #828288);
}

QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QToolTip {
    color: #000;
}