* { font-family: "Bitstream Vera Sans"; font: "Roman"; font-size: 12px; }
QWidget#colorIcon {}

QWidget {
background-color: #F6F6F6;
color: #000000;
background-clip: border;
font-size: 11px;
}

QGroupBox {
border: 1px solid #222216;
border-radius: 3px;
padding: 10px 0px 0px 0px;
margin-top: 1ex; /* leave space at the top for the title */
}

QCheckBox {
/*background-color: #252528;*/
color: #222221;
}

QCheckBox::indicator {
    border: 1px solid #111111;
    border-radius: 2px;
    color: #222221;
         width: 10px;
     height: 10px;
}

QLineEdit {
border: 1px solid #111111;
    border-radius: 2px;
}

QTextEdit {
border: 1px solid #111111;
    border-radius: 2px;
}

QPlainTextEdit {
border: 1px solid #111111;
    border-radius: 2px;
}

QComboBox {
border: 1px solid #111111;
    border-radius: 2px;
    }

 QCheckBox::indicator:checked {
     background-color: #333333;
 }

 QCheckBox::indicator:checked:hover {
     background-color: #222222;
 }

 QCheckBox::indicator:checked:pressed {
     background-color: #222222;
 }

 QCheckBox::indicator:indeterminate:hover {
     image: url(:/files/images/checkbox_indeterminate_hover.png);
 }

 QCheckBox::indicator:indeterminate:pressed {
     image: url(:/files/images/checkbox_indeterminate_pressed.png);
 }

 QGroupBox::title {
     subcontrol-origin: margin;
     subcontrol-position: top center; /* position at the top center */
     margin: 0 3px 0px 3px;
     padding: 0 3px 0px 0px;
     font: bold 8px;
     color: #DDDDDF;
 }
 
 QMainWindow::separator {
     background: #090909;
     width: 2px; /* when vertical */
     height: 2px; /* when horizontal */
 }

 QMainWindow::separator:hover {
     background: white;
 }

QMenuBar::item:disabled {
    border: none;
    background: none;
}
QMenuBar::item:disabled:selected {
    border: none;
    background: none;
}
QMenuBar::item:disabled:pressed {
    background: none;
    border: none;
}

 QDockWidget {
     border: 1px solid #32345E;
  /*   titlebar-close-icon: url(close.png);
     titlebar-normal-icon: url(undock.png);*/
 }
 QDockWidget::title {
    text-align: left;
    background: #EEEEEE;
    color: #111111;
    padding-left: 5px;
    height: 10px;
	border-bottom: 1px solid #222222;
}

 QDockWidget::close-button, QDockWidget::float-button {
     border: 1px solid transparent;
     background: darkgray;
     padding: 0px;
 }

 QDockWidget::close-button:hover, QDockWidget::float-button:hover {
     background: gray;
 }

 QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
     padding: 1px -1px -1px 1px;
 }



QDockWidget::close-button, QDockWidget::float-button {
	background-color: #181820;
	color: #EEEEEE;
}

QSeparator {
    color: #EEEEEE;
    }


QSpinBox {
	min-height: 14px;
	max-height: 18px;
    border: 1px solid #4A4A4F;
	border-radius: 5px;
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-up.svg) 1;
    border-width: 1px;
}
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-down.svg) 1;
    border-width: 1px;
}

QDoubleSpinBox {
	min-height: 14px;
	max-height: 18px;
    border: 1px solid #4A4A4F;
	border-radius: 5px;
}

QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-up.svg) 1;
    border-width: 1px;
    max-width: 5px;
}
QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */
    border-image: url(:/files/images/actions/go-down.svg) 1;
    border-width: 1px;
    max-width: 5px;
}

QPushButton {
	font-weight: bold;
	min-height: 18px;
	max-height: 18px;
	border: 2px solid #4A4A4F;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C3C2C8, stop: 1 #828288);
}

QPushButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop: 1 #808080);
}

QPushButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QToolButton {
	font-weight: bold;
	min-height: 16px;
	min-width: 24px;
	max-height: 18px;
	border: 2px solid #4A4A4F;
	border-radius: 5px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C3C2C8, stop: 1 #828288);
}

QToolButton:checked {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
}

QToolButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QToolTip {
        background-color: #404040;
	border-radius: 3px;
}

QPushButton#forceLandButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #ffee01, stop:1 #ae8f00) url("ICONDIR/control/emergency-button.png");
	background-clip: border;
	border-width: 1px;
	border-color: #222222;
	border-radius: 5px;
}

QPushButton:pressed#forceLandButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #bbaa00, stop:1 #a05b00) url("ICONDIR/control/emergency-button.png");
	background-clip: border;
	border-width: 1px;
	border-color: #222222;
	border-radius: 5px;
}

QPushButton#killButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #ffb917, stop:1 #b37300) url("ICONDIR/control/emergency-button.png");
	background-clip: border;
	border-width: 1px;
	border-color: #222222;
	border-radius: 5px;
}

QPushButton:pressed#killButton {
	font-weight: bold;
	min-height: 30px;
	color: #000000;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #bb8500, stop:1 #903000) url("ICONDIR/control/emergency-button.png");
	background-clip: border;
	border-width: 1px;
	border-color: #222222;
	border-radius: 5px;
}

QPushButton#controlButton {
    min-height: 25px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}

QPushButton:checked#controlButton {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}

QProgressBar {
	border: 1px solid #4A4A4F;
	border-radius: 4px;
	text-align: center;
	padding: 2px;
	color: #DDDDDF;
	background-color: #111118;
}

QProgressBar:horizontal {
    height: 9px;
}

QProgressBar:vertical {
    width: 9px;
}

QProgressBar::chunk {
	background-color: #3C7B9E;
}

QProgressBar::chunk#batteryBar {
	background-color: green;
}

QProgressBar::chunk#speedBar {
	background-color: yellow;
}

QProgressBar::chunk#thrustBar {
	background-color: orange;
}
