/* These general styles need to go first so that following definitions override them */
* {
    background-color: #222;
    color: #FFF;
}

*::disabled {
    color: #AAA;
}

QCheckBox {
    color: #DDD;
}

QCheckBox::indicator {
    border-color: #777;
    color: #FFF;
}

QCheckBox::indicator:checked {
    background-color: #379AC3;
}

QComboBox {
    border-color: #777;
}

QDialog {
  border-color: #62676B;
}

QDockWidget {
    border-color: #666;
}

QDockWidget::title {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #3F556A, stop: 1 #293645);
    color: #EEE;
    border-bottom-color: #2C3A4A;
}

QDockWidget::close-button, QDockWidget::float-button {
    border-color: transparent;
    background-color: #EEE;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background-color: #AAA;
}

QGCToolWidgetItem {
    border-color: #666;
}

QGroupBox {
    color: #DDD;
}

QGroupBox::title {
    color: #DDD;
}

QLabel {
    background-color: transparent;
}

QLabel:disabled {
    color: #353535;
}

QLabel#toolBarNameLabel, QLabel#toolBarStateLabel, QLabel#toolBarMessageLabel {
    color: #3C7B9E;
}

QLineEdit {
    border-color: #777;
}
QMainWindow::separator {
    background-color: #323232;
}

QMainWindow::separator:hover {
    background-color: #FFF;
}

QMenu {
    border-color: #379AC3;
}

QMenu::item:selected {
    background-color: #CCC;
}

QMenuBar::item:selected {
    background-color: #CCC;
}

QMenuBar::item:disabled {
    border: none;
    background: none;
}

QMenuBar::item:disabled:selected {
    border: none;
    background: none;
}

QMenuBar::item:disabled:pressed {
    background: none;
    border: none;
}

QMenu::separator {
    background-color: #379AC3;
}

QPlainTextEdit {
    border-color: #777;
}

QProgressBar {
    border: #4A4A4F;
    color: #DDDDDF;
    background-color: #111118;
}

QProgressBar::chunk {
    background-color: #3C7B9E;
}

QProgressBar::chunk#batteryBar {
    background-color: green;
}

QProgressBar::chunk#speedBar {
    background-color: yellow;
}

QProgressBar::chunk#thrustBar {
    background-color: orange;
}

QProgressBar QLabel {
    background-color: #FFF;
}

QPushButton {
    border-color: #444;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}

QPushButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
}

QPushButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #09A2B2, stop: 1 #414B52);
}

QPushButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QPushButton#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #A0AE00, stop: 1 #909E00);
}

QPushButton:checked#controlButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b76f11, stop: 1 #e1a718);
}

QPushButton#killButton {
    color: #000000;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #ffb917, stop:1 #b37300)
    border-color: #555555;
}

QPushButton:pressed#killButton {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                             stop:0 #bb8500, stop:1 #903000);
}

QSeparator {
    color: #EEE;
}

QSlider {
    background-color: transparent;
}

QSlider::groove:horizontal {
     border: #999999;
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #4A4A4F, stop:1 #4A4A4F);
 }

 QSlider::groove:disabled:horizontal {
     border: #454545;
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #4A4A4F, stop:1 #4A4A4F);
 }

 QSlider::handle:horizontal {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
     border: #379AC3;
 }

 QSlider::handle:disabled:horizontal {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #535258, stop: 1 #050508);
     border: #444444;
 }
 
 QSlider::groove:vertical {
     border: #999999;
     background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #4A4A4F, stop:1 #4A4A4F);
 }

 QSlider::handle:vertical {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #232228, stop: 1 #020208);
     border: #379AC3;
 }

QSpinBox {
    border-color: #4A4A4A;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
	image: url(:/files/images/actions/go-up.svg);
}

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
	image: url(:/files/images/actions/go-down.svg);
}

QStatusBar {
    border-bottom-color: #111;
    border-top-color: #4F4F4F;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #4B4B4B, stop:0.3 #404040, stop:0.34 #383838, stop:1 #181818);
}

QTabBar::tab {
    border-color: #62676B;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #090909, stop: 1 #353535);
}

QTabBar::tab:hover, QTabBar::tab:selected {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BBB, stop: 1 #777);
    border-color: #379AC3;
}

QTabWidget::pane { /* The tab widget frame */
    border-color: #62676B;
}

QTextEdit {
    border-color: #777;
}

QToolBar {
    border-top-color: #969696;
    border-bottom-color: #484848;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #8B8B8B, stop:0.3 #808080, stop:0.34 #747474, stop:1 #484848);
}

QToolButton {
    border-color: #4A4A4F;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #59666f, stop: 1 #414B52);
}

QToolButton:disabled {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232228, stop: 1 #020208);
}

QToolButton:checked {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #09A2B2, stop: 1 #414B52);
}

QToolButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #bbbbbb, stop: 1 #b0b0b0);
}

QToolTip {
    background-color: #3D5368;
    color: #DDD;
}