{{ indent }}{{ qml_type }} {
{{ indent }}    Layout.fillWidth: true
{{ indent }}    label: {{ label_expr }}
{{ indent }}    fact: {{ fact_ref }}
{% if enable_when %}
{{ indent }}    enabled: {{ enable_when }}
{% endif %}
{{ indent }}}
