name: Android-Windows

on:
  push:
    branches:
      - master
      - 'Stable*'
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths:
      - '.github/workflows/android-windows.yml'
      - '.github/workflows/android-reusable.yml'
      - 'deploy/android/**'
      - 'src/**'
      - 'android/**'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'translations/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.ref_type != 'tag' }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Android Build on Windows
    uses: ./.github/workflows/android-reusable.yml
    with:
      runner-os: windows-latest
      build-type: Release
      qt-version: '6.10.0'
      upload-aws: false
      sign-apk: false
      free-disk-space: false
    secrets:
      ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
