name: Android-Linux

on:
  push:
    branches:
      - master
      - 'Stable*'
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths:
      - '.github/workflows/android-linux.yml'
      - '.github/workflows/android-reusable.yml'
      - 'deploy/android/**'
      - 'src/**'
      - 'android/**'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'translations/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.ref_type != 'tag' }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Android Build on Linux
    uses: ./.github/workflows/android-reusable.yml
    with:
      runner-os: ubuntu-latest
      build-type: Release
      qt-version: '6.10.0'
      upload-aws: true
      sign-apk: true
      free-disk-space: true
    secrets:
      ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DISTRIBUTION_ID: ${{ secrets.AWS_DISTRIBUTION_ID }}
