name: Android-Linux-6.6.3

on:
  push:
    branches:
      - master
      - 'Stable*'
    tags:
      - 'v*'
  pull_request:
    paths:
      - '.github/workflows/android-linux.yml'
      - 'deploy/android/**'
      - 'src/**'
      - 'android/**'
      - 'CMakeLists.txt'
      - 'cmake/**'

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        BuildType: [Release]

    defaults:
      run:
        shell: bash

    env:
      ARTIFACT: QGroundControl.apk
      PACKAGE: QGroundControl
      QT_VERSION: 6.6.3
      QT_ANDROID_ABIS: ${{ matrix.BuildType == 'Release' && 'armeabi-v7a;arm64-v8a' || 'arm64-v8a' }}
      QT_ANDROID_KEYSTORE_STORE_PASS: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' &&  '${{ secrets.ANDROID_KEYSTORE_PASSWORD }}' || 'android' }}
      QT_ANDROID_KEYSTORE_KEY_PASS: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' &&  '${{ secrets.ANDROID_KEYSTORE_PASSWORD }}' || 'android' }}
      QT_ANDROID_KEYSTORE_PATH: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' && '${{ github.workspace }}/deploy/android/android_release.keystore' || '${{ github.workspace }}/deploy/android/debug.keystore' }}
      QT_ANDROID_KEYSTORE_ALIAS: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' && 'QGCAndroidKeyStore' || 'androiddebugkey' }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true

      - name: Initial Setup
        uses: ./.github/actions/common

      - name: Install Qt for Android
        uses: ./.github/actions/qt-android
        with:
          host: linux
          arch: gcc_64
          version: ${{ env.QT_VERSION }}
          abis: ${{ env.QT_ANDROID_ABIS }}
          cpm-modules: ${{ runner.temp }}/shadow_build_dir/cpm_modules

      - name: Configure
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -S ${{ github.workspace }} -B . -G Ninja
              -DCMAKE_BUILD_TYPE=${{ matrix.BuildType }}
              -DQT_ANDROID_ABIS="${{ env.QT_ANDROID_ABIS }}"
              -DQT_ANDROID_BUILD_ALL_ABIS=OFF
              -DQT_HOST_PATH="${{ env.QT_ROOT_DIR }}/../gcc_64"
              -DQT_ANDROID_SIGN_APK=ON
              -DQT_DEBUG_FIND_PACKAGE=ON
              -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}

      - name: Build
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: cmake --build . --target all --config ${{ matrix.BuildType }}

      - run: cp ${{ runner.temp }}/shadow_build_dir/android-build/*.apk ${{ runner.temp }}/shadow_build_dir/${{ env.ARTIFACT }}

      - name: Save APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE }}
          path: ${{ runner.temp }}/shadow_build_dir/android-build/*.apk
