name: Custom build

on:
  push:
    branches:
      - master
      - Stable*
    tags:
      - v*
    paths-ignore:
      - docs/**
  pull_request:
    paths:
      - .github/workflows/custom.yml
      - deploy/windows/**
      - src/**
      - custom-example/**
      - CMakeLists.txt
      - cmake/**
      - tools/setup/*windows*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 120

    defaults:
      run:
        shell: cmd

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 1
          fetch-tags: true

      - name: Get build config
        id: config
        uses: ./.github/actions/build-config

      - name: Initial Setup
        uses: ./.github/actions/common

      - name: Enable custom build
        run: |
          if not exist ".\custom-example" (
            echo Directory ".\custom-example" does not exist. && exit /b 1
          )
          xcopy /E /I ".\custom-example" ".\custom"

      - name: Install GStreamer
        uses: blinemedical/setup-gstreamer@v1
        with:
          version: ${{ steps.config.outputs.gstreamer_windows_version }}

      - name: Setup Caching
        uses: ./.github/actions/cache
        with:
          host: windows
          target: win64_msvc2022_64
          build-type: Release
          cpm-modules: ${{ runner.temp }}\build\cpm_modules
          save-cache: ${{ github.event_name != 'pull_request' }}

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ steps.config.outputs.qt_version }}
          host: windows
          target: desktop
          arch: win64_msvc2022_64
          dir: ${{ runner.temp }}
          modules: ${{ steps.config.outputs.qt_modules }}
          setup-python: false
          cache: true

      - name: Set up MSVC environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure
        working-directory: ${{ runner.temp }}\build
        run: |
          ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -S ${{ github.workspace }} -B . -G Ninja ^
            -DCMAKE_BUILD_TYPE=Release ^
            -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}

      - name: Build
        working-directory: ${{ runner.temp }}\build
        run: cmake --build . --target all --config Release --parallel

      - name: Verify executable
        working-directory: ${{ runner.temp }}\build\Release
        run: Custom-QGroundControl.exe --simple-boot-test
