name: flatpak
on: [workflow_dispatch]
jobs:
  flatpak-builder:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-47
      options: --privileged
    steps:
      - uses: actions/checkout@v5
      - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: org.mavlink.qgroundcontrol.flatpak
          manifest-path: ./deploy/flatpak/org.mavlink.qgroundcontrol.yml
          cache-key: flatpak-builder-${{ github.sha }}
