name: iOS

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 120

    strategy:
      matrix:
        build_type: [Release]

    defaults:
      run:
        shell: bash

    env:
      PACKAGE: QGroundControl

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 1
          fetch-tags: true

      - name: Get build config
        id: config
        uses: ./.github/actions/build-config

      - name: Initial Setup
        uses: ./.github/actions/common

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ steps.config.outputs.xcode_ios_version }}

      - name: Setup Caching
        uses: ./.github/actions/cache
        with:
          host: mac
          target: ios
          build-type: ${{ matrix.build_type }}
          cpm-modules: ${{ runner.temp }}/build/cpm_modules
          save-cache: ${{ github.event_name != 'pull_request' }}

      - name: Install Qt for MacOS
        uses: ./.github/actions/qt-install
        with:
          version: ${{ steps.config.outputs.qt_version }}
          host: mac
          arch: clang_64
          modules: ${{ steps.config.outputs.qt_modules }}

      - name: Install Qt for iOS
        uses: ./.github/actions/qt-install
        with:
          version: ${{ steps.config.outputs.qt_version }}
          host: mac
          target: ios
          arch: ios
          modules: ${{ steps.config.outputs.qt_modules_ios }}

      - name: Configure
        working-directory: ${{ runner.temp }}/build
        run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -S ${{ github.workspace }} -B . -G Ninja
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
              -DQT_HOST_PATH="${{ env.QT_ROOT_DIR }}/../macos"
              -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}

      - name: Build
        working-directory: ${{ runner.temp }}/build
        run: cmake --build . --target all --config ${{ matrix.build_type }} --parallel

      - name: Attest Build Provenance
        if: matrix.build_type == 'Release' && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: '${{ runner.temp }}/build/${{ env.PACKAGE }}.app'

      - name: Upload Build File
        uses: ./.github/actions/upload
        with:
          artifact_name: ${{ env.PACKAGE }}.app
          package_name: ${{ env.PACKAGE }}
          upload_aws: 'false'
