name: iOS

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

permissions:
  contents: read

jobs:
  build:
    name: iOS
    runs-on: macos-latest
    timeout-minutes: 120

    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        build_type: [Release]

    env:
      PACKAGE: QGroundControl

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 1
          fetch-tags: true

      - name: Get build config
        id: build-config
        uses: ./.github/actions/build-config

      - name: Initial Setup
        uses: ./.github/actions/common

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ steps.build-config.outputs.xcode_version }}

      - name: Setup Caching
        uses: ./.github/actions/cache
        with:
          host: mac
          target: ios
          build-type: ${{ matrix.build_type }}
          cpm-modules: ${{ runner.temp }}/build/cpm_modules
          ccache-version: ${{ steps.build-config.outputs.ccache_version }}
          save-cache: ${{ github.event_name != 'pull_request' }}

      - name: Install Qt for MacOS
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ steps.build-config.outputs.qt_version }}
          host: mac
          target: desktop
          arch: clang_64
          dir: ${{ runner.temp }}
          modules: ${{ steps.build-config.outputs.qt_modules }}
          setup-python: false
          cache: true

      - name: Install Qt for iOS
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ steps.build-config.outputs.qt_version }}
          host: mac
          target: ios
          arch: ios
          dir: ${{ runner.temp }}
          modules: ${{ steps.build-config.outputs.qt_modules_ios }}
          cache: true

      - name: Configure
        working-directory: ${{ runner.temp }}/build
        run: ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -S ${{ github.workspace }} -B . -G Ninja
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
              -DQT_HOST_PATH="${{ env.QT_ROOT_DIR }}/../macos"
              -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}

      - name: Build
        working-directory: ${{ runner.temp }}/build
        run: cmake --build . --target all --config ${{ matrix.build_type }} --parallel

      - name: Save App
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.PACKAGE }}
          path: ${{ runner.temp }}/build/*.app
