name: Linux

on:
  push:
    branches:
      - master
      - 'Stable*'
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - 'android/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'android/**'

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        BuildType: [Debug, Release]

    env:
      ARTIFACT: QGroundControl-x86_64.AppImage
      QT_VERSION: 6.6.3

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true

      - name: Set up Cache
        uses: hendrikmuhs/ccache-action@v1.2
        if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
        with:
          create-symlink: true
          key: ${{ runner.os }}-${{ matrix.BuildType }}
          restore-keys: ${{ runner.os }}-${{ matrix.BuildType }}
          max-size: 1G
          append-timestamp: false

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ env.QT_VERSION }}
          aqtversion: ==3.1.*
          host: linux
          target: desktop
          dir: ${{ runner.temp }}
          modules: qtcharts qtlocation qtpositioning qtspeech qt5compat qtmultimedia qtserialport qtimageformats qtshadertools qtconnectivity qtquick3d
          setup-python: true
          cache: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
          tools: 'tools_cmake tools_ninja'

      - name: Install Dependencies
        run:  |
              chmod a+x ./tools/setup/ubuntu.sh
              ./tools/setup/ubuntu.sh
              python3 -m pip install meson ninja

      - uses: actions/checkout@v4
        with:
          repository: GStreamer/gstreamer
          ref: 1.24.2
          path: ${{ runner.temp }}/gstreamer

      # - name: Clone GStreamer
      #   working-directory: ${{ runner.temp }}
      #   run: git clone --depth 1 --branch 1.24.2 https://github.com/GStreamer/gstreamer.git

      - name: Configure GStreamer
        working-directory: ${{ runner.temp }}/gstreamer
        run: meson setup
          --prefix=${{ runner.temp }}/gst
          -Dgst-full-target-type=static_library
          -Dauto_features=disabled
          build
          # --prefix=${{ runner.temp }}/gst
          # --buildtype=${{ matrix.BuildType }}
          # -Dauto_features=disabled -Dgood=enabled -Dgst-plugins-good:qml6=enabled -Dgst-plugins-good:qt-egl=enabled -Dgst-plugins-good:qt-wayland=enabled -Dgst-plugins-good:qt-x11=enabled -Dbase=enabled -Dgst-plugins-base:gl=enabled -Dgst-plugins-base:gl_platform=glx,egl -Dgst-plugins-base:gl_winsys=x11,wayland -Dgst-plugins-base:x11=enabled build
          # -Dgst-full-target-type=static_library
          # --default-library=static -Dgst-full-libraries=app,video
          # -Dges=disabled -Dtests=disabled -Dexamples=disabled -Dgst-examples=disabled -Ddoc=disabled -Dgtk_doc=disabled -Dgpl=enabled build

      - name: Compile GStreamer
        working-directory: ${{ runner.temp }}/gstreamer
        run: meson compile -C build

      - name: Install GStreamer
        working-directory: ${{ runner.temp }}/gstreamer
        run: meson install -C build

      - name: Create build directory
        run:  mkdir ${{ runner.temp }}/shadow_build_dir

      - name: Configure
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: cmake -S ${{ github.workspace }} -B . -G Ninja
              -DCMAKE_BUILD_TYPE=${{ matrix.BuildType }}
              -DQGC_BUILD_TESTING=${{ matrix.BuildType == 'Debug' && 'ON' || 'OFF' }}
              -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}

      - name: Build
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: cmake --build . --target all --config ${{ matrix.BuildType }}

      - name: Create AppImage
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: cmake --install . --config ${{ matrix.BuildType }}

      - name: Setup for unit tests
        if: matrix.BuildType == 'Debug'
        working-directory: ${{ runner.temp }}/shadow_build_dir
        run: |
              mkdir -p ~/.config/QtProject/
              cp ${{ github.workspace }}/test/qtlogging.ini ~/.config/QtProject/
              export QT_FATAL_WARNINGS=1

      - name: Run unit tests
        if: matrix.BuildType == 'Debug'
        working-directory:  ${{ runner.temp }}/shadow_build_dir
        run: xvfb-run -a ./${{ env.ARTIFACT }} --unittest

      - name: Upload Build File
        uses: ./.github/actions/upload
        if: matrix.BuildType == 'Release'
        with:
          artifact_name: ${{ env.ARTIFACT }}
          aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          source: ''
