name: MacOS Release

on:
  push:
    branches:
      - master
      - 'Stable*'
    tags:
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - 'android/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'android/**'

jobs:
  build:
    runs-on: macos-latest

    defaults:
      run:
        shell: bash

    env:
      QT_VERSION: 6.6.3
      ARTIFACT: QGroundControl.dmg

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true

      - name: Set Up Cache
        uses: hendrikmuhs/ccache-action@v1.2
        if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
        with:
          create-symlink: true
          key: ${{ runner.os }}-Release
          restore-keys: ${{ runner.os }}-Release
          max-size: 2G
          append-timestamp: false

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ env.QT_VERSION }}
          aqtversion: ==3.1.*
          host: mac
          target: desktop
          dir: ${{ runner.temp }}
          modules: qtcharts qtlocation qtpositioning qtspeech qt5compat qtmultimedia qtserialport qtimageformats qtshadertools qtconnectivity qtquick3d
          setup-python: true
          cache: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}

      - name: Install Gstreamer
        env:
          GST_VERSION: 1.18.6
        run: |
            wget --quiet https://gstreamer.freedesktop.org/data/pkg/osx/${{ env.GST_VERSION }}/gstreamer-1.0-devel-${{ env.GST_VERSION }}-x86_64.pkg
            wget --quiet https://gstreamer.freedesktop.org/data/pkg/osx/${{ env.GST_VERSION }}/gstreamer-1.0-${{ env.GST_VERSION }}-x86_64.pkg
            for package in *.pkg ;
              do sudo installer -verbose -pkg "$package" -target /
            done
            echo "PKG_CONFIG_PATH=/Library/Frameworks/GStreamer.framework/lib/pkgconfig:${{ env.PKG_CONFIG_PATH }}" >> "$GITHUB_ENV"

      - name: Create build directory
        run:  mkdir ${{ runner.temp }}/shadow_build_dir

      - name: Build
        working-directory: ${{ runner.temp }}/shadow_build_dir
        env:
          BUILD_TYPE: ${{ fromJSON('["DailyBuild", "StableBuild"]')[ github.ref_type == 'tag' || contains(github.ref, 'Stable' ) ] }}
        run: |
            export JOBS=$((`sysctl -n hw.ncpu`+1))
            qmake -r ${{ github.workspace }}/qgroundcontrol.pro CONFIG+=installer CONFIG+=${BUILD_TYPE}
            make -j$JOBS

      - name: Upload Build File
        uses: ./.github/actions/upload
        with:
          artifact_name: ${{ env.ARTIFACT }}
          aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          source: ''
