name: MacOS

on:
  push:
    branches:
      - master
      - "Stable*"
    tags:
      - "v*"
    paths-ignore:
      - "docs/**" # Do not trigger for any changes under docs
  pull_request:
    paths:
      - ".github/workflows/macos.yml"
      - "deploy/macos/**"
      - "src/**"
      - "CMakeLists.txt"
      - "cmake/**"

# concurrency:
#   group: ${{ github.workflow }}-${{ github.ref }}
#   cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        BuildType: [Release]

    defaults:
      run:
        shell: bash

    env:
      QT_VERSION: 6.10.0

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 1
          fetch-tags: true

      - name: Initial Setup
        uses: ./.github/actions/common

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "<=16.x"

      - name: Install Dependencies (include GStreamer)
        working-directory: ${{ github.workspace }}/tools/setup
        run: sh install-dependencies-osx.sh

      - name: Setup Caching
        uses: ./.github/actions/cache
        with:
          host: mac
          target: clang_64
          build-type: ${{ matrix.BuildType }}
          cpm-modules: ${{ runner.temp }}/build/cpm_modules

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}
          host: mac
          target: desktop
          arch: clang_64
          dir: ${{ runner.temp }}
          modules: qtcharts qtlocation qtpositioning qtspeech qt5compat qtmultimedia qtserialport qtimageformats qtshadertools qtconnectivity qtquick3d qtsensors qtscxml
          setup-python: false
          cache: true

      - name: CMake configure
        working-directory: ${{ runner.temp }}/build
        run:
          ${{ env.QT_ROOT_DIR }}/bin/qt-cmake -S ${{ github.workspace }} -B . -G Ninja
          -DCMAKE_BUILD_TYPE=${{ matrix.BuildType }}
          -DQGC_STABLE_BUILD=${{ github.ref_type == 'tag' || contains(github.ref, 'Stable') && 'ON' || 'OFF' }}
          -DQGC_MACOS_SIGN_WITH_IDENTITY=OFF

      - name: Build
        working-directory: ${{ runner.temp }}/build
        run: cmake --build . --target all --config ${{ matrix.BuildType }} --parallel

      - name: Sanity check dev build executable
        working-directory: ${{ runner.temp }}/build/Release/QGroundControl.app/Contents/MacOS
        run: ./QGroundControl --simple-boot-test

      - name: Create app bundle
        working-directory: ${{ runner.temp }}/build
        run: cmake --install . --config ${{ matrix.BuildType }}

      - name: Mount DMG
        working-directory: ${{ runner.temp }}/build
        run: hdiutil attach QGroundControl.dmg

      - name: Sanity check DMG executable
        working-directory: /Volumes/QGroundControl/QGroundControl.app/Contents/MacOS
        run: ./QGroundControl --simple-boot-test

      - name: Upload Build File
        if: matrix.BuildType == 'Release'
        uses: ./.github/actions/upload
        with:
          artifact_name: QGroundControl.dmg
          package_name: QGroundControl
          aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_distribution_id: ${{ secrets.AWS_DISTRIBUTION_ID }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
