name: pre-commit

on:
  push:
    branches:
      - master
      - 'Stable*'
    paths:
      - 'src/**'
      - 'test/**'
      - '.pre-commit-config.yaml'
  pull_request:
    paths:
      - 'src/**'
      - 'test/**'
      - '.pre-commit-config.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get build config
        id: config
        uses: ./.github/actions/build-config

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Install Qt (for qmllint)
        uses: ./.github/actions/qt-install
        with:
          version: ${{ steps.config.outputs.qt_version }}
          host: linux
          arch: linux_gcc_64

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
