name: 'Handle stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.ref_type != 'tag' }}

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  stale:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 30
          days-before-close: -1
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          remove-stale-when-updated: true
